<h2>Let's add new celebrities</h2>

<form action="/celebrities" method="POST">
  <input type="text" name="name" placeholder=" Name" />
  <input type="text" name="occupation" placeholder="Occupation" />
  <input type="text" name="catchPhrase" placeholder="catchphrase" />
  <button>Submit</button>
</form>

<a href="/"> Home </a>